
Flask==1.1.1

google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.14.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0

json5==0.9.1
jsonschema==3.2.0
